@charset "UTF-8";
/*-----------------------------------------------------------------------------------

-----------------------------------------------------------------------------------
    CSS INDEX
    ===================

    01.BASIC SETUP	
    02.REUSABLE COMPONENTS
    03.HEADER CSS
   	04.FAQ AREA CSS 
    05.SUBSCRIBE CSS 
    06. FOOTER CSS 
    07. RESPONSIVE CSS 
/*** 
====================================================================
	 Fonts
====================================================================
***/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/*
	font-family: 'Poppins', sans-serif;
*/

/* ----------------------------------------------- */
/* 01. BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* ----------------------------------------------- */
/* 02.REUSABLE COMPONENTS */
/* ----------------------------------------------- */

/* ----- HEADINGS ----- */

h2 {
    font-size: 48px;
    margin-bottom: 30px;
}

/* ----- PARAGRAPH ----- */

/*---common css*/
.f-left {
    float: left;
}

.f-right {
    float: right;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.text-center {
    text-align: center;
}

.bg-top {
    background: #F2F2F2;
}

.bg-nav {
    background: #333333;
}

.subscribe-bg {
    background: #F7F7F7;
}

.footer-bg {
    background: #1A1A1A;
}

.margin-4px-right {
    margin-right: 4px;
}
.margin-15px-right {
    margin-right: 15px;
}
.margin-4px-left {
    margin-left: 4px;
}
.border-1px{
    color:  #B3B3B3;
}
.margin-0 {
    margin: 0px !important;
}
.margin-bottom-0 {
    margin-bottom: 0px !important;
}

.margin-top-0 {
    margin-top: 0px !important;
}

.w-img img {
    width: 100%;
}

ul li {
    list-style: none;
    display: inline-block;
}

ul {
    margin: 0;
    padding: 0;
}

p {
    font-size: 14px;
    line-height: 21px;
    color: #999999;
}

/*------ select ------*/
.select {
    color: #666666;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

select {
    outline: none;
    border: none;
    background: transparent;
}

/* ----- links ----- */
a:focus,
.button:focus {
    text-decoration: none;
    outline: none;
}

a:focus,
a:hover {
    /*  color: #2B96CC;*/
    text-decoration: none;
}

a {
    text-decoration: none;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0
}

/* ----- BUTTONS ----- */
.btn {
    line-height: 1.5;
}

.btn-success {
    background: #20B526;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    padding: 0px 26px;
    border: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
}

.btn-success:hover {
    background: #23c329;
}

.btn-form {
    border-radius: 43px;
    color: #fff;
    background: #333333;
    outline: none;
    border: none;
    padding: 16px 40px;
    line-height: 20px;
    font-weight: 600;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
}

.btn-form {
    position: absolute;
    right: 0;
}

.btn-form:hover {
    background: #20B526;
}

input[type="name"] {
    width: 100%;
}

/* ----------------------------------------------- */
/* 03.HEADER CSS*/
/* ----------------------------------------------- */

/*topbar*/
.topbar {
    padding: 8px 0 11px 0;
}

.topbar-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center;
}

.topbar-left i {
    color: #666666;
    font-size: 15px;
    margin-right: 5px;
}

.topbar-left span {
    color: #666666;
    font-size: 12px;
}
/*header middel*/
.header-middel {
    padding: 18px 0;
}

.logo {
    width: 122px;
    height: 38px;
}

.site-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-search {
    border: 2px solid #c6c6c6;
    border-radius: 7px;
    width: 52%;
}

.header-search input[type="search"] {
    width: 62%;
    border: none;
    border-radius: 0;
    height: 45px;
    border-radius: 5px 0 0 5px;
    padding: 12px 13px;
    outline: none;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    -webkit-box-align: stretch;
    align-items: stretch;
    width: 100%;
}

ul.list li {
    display: block;
}

.nice-select {
    border: none !important;
}

.nice-select:hover {
    border-color: transparent;
}

span.current {
    color: rgba(26, 26, 26, 1);
    font-size: 14px;
    font-weight: 400;
}

.nice-select {
    background: #f2f2f2;
    border-radius: 0px !important;
    padding-top: 5px;
    border-top-left-radius: 6px !important;
}

.select-group {
    background: #f2f2f2;
    color: #1A1A1A;
    font-size: 14px;
    margin-top: -4px;
    margin-bottom: -2px;
    margin-left: -2px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding-right: 10px;
}

.nice-select.open:after {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    margin-top: 8px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.input-group-button {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
}

.header-search button[type="submit"] {
    margin-top: -2px;
    margin-right: -2px;
    margin-bottom: -2px;
    margin-left: 2px;
}

.input-group input::-webkit-input-placeholder {
    color: #999999;
    font-size: 14px;
}

.input-group input:-ms-input-placeholder {
    color: #999999;
    font-size: 14px;
}

.input-group input::-webkit-input-placeholder {
    color: #999999;
    font-size: 14px;
}

.input-group input::placeholder {
    color: #999999;
    font-size: 14px;
}

.input-group input [type="search"]:focus {
    outline: none;
    border: none;
}

.header-icon a:not(:last-child) {
    margin-right: 10px;
}

.header-icon a {
    font-size: 26px;
    color: #1A1A1A;
}

.header-icon {
    position: relative;
}

.header-icon a img {
    max-width: 100%;
    margin-top: -8px;
    width: 26px;
}

.header-icon span {
    content: "";
    width: 18px;
    height: 18px;
    background: #2C742F;
    border: 1px solid #fff;
    border-radius: 16px;
    position: absolute;
    top: 0;
    right: 5px;
    display: block;
    font-weight: 500;
    font-size: 10px;
    color: #fff;
    text-align: center;
}

#main-nav .nav-inner {
    max-width: 1320px;
    margin: 0 auto;
    position: relative;
}

.logo a {
    position: relative;
    display: inline-block;
}

.nav-menu .menu-item {
    position: relative;
}

.nav-menu ul a,
.nav-right i {
    color: #999999;
    text-decoration: none;
    text-decoration: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    padding-right: 32px !important;
    padding: 16px 0;
    display: block;
    position: relative;
}

.nav-menu .nav-drop::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: initial;
    right: 17px;
    top: 50%;
    -webkit-transform: rotate(-45deg) translateY(-50%);
    transform: rotate(45deg) translateY(-50%);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.nav-menu ul a:hover {
    color: #fff;
}

.nav-menu li {
    position: relative;
}

.mobile-nav-buttons {
    display: none;
}

.nav-menu ul.submenu {
    display: none;
    padding: 0 15px;
}

/*---------------------*/
@media (min-width: 1024px) {

    .nav-menu {
        display: block !important;
    }

    .nav-menu .submenu-toggle {
        display: none;
    }

    .nav-menu > ul > li:hover > ul.submenu {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .nav-menu > ul > li > ul.submenu {
        background: #333333;
        width: 220px;
        position: absolute;
        z-index: 999;
        display: block;
        padding: 10px 0;
        left: 0;
        top: 100%;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        opacity: 0;
        visibility: hidden;
        border-top: 3px solid #20B526;
        overflow: hidden;
    }

    .nav-menu > ul > li:hover > ul.submenu {
        visibility: visible;
        opacity: 1;
    }

    .nav-menu > ul > li > ul.submenu > li {
        display: block;
    }

    .nav-menu > ul > li > ul.submenu > li > a {
        color: #999999;
        padding: 10px 20px;
        display: block;
        font-size: 15px;
    }

    .nav-menu > ul > li > ul.submenu > li:hover > a {
        color: #fff;
    }
}


@media (max-width: 1023px) {
    .responsive-logo {
        display: block !important;
        margin: 20px 0px;
        float: left;
    }

    .mobile-nav-buttons {
        display: block;
        float: right;
        margin: 10px 0;
        margin-right: 0;
    }

    .nav-menu ul a {
        color: #999999;
        border-bottom: 1px solid #565555;
        display: block;
        line-height: 45px;
        padding: 0;
    }

    .nav-menu > ul > li:last-child > a {
        border-bottom: none;
    }

    #main-nav .nav-inner {
        overflow: auto;
    }

    .nav-menu {
        background-color: #333333;
        padding: 0 20px;
        padding-bottom: 10px;
        clear: both;
        display: none;
    }

    .nav-drop::after {
        display: none;
    }

    .nav-menu li {
        position: relative;
        display: block;
    }

    .nav-right a {
        display: none !important;
    }

    .mobile-nav-buttons a,
    .mobile-nav-buttons i {
        font-size: 26px;
        color: #fff;
        line-height: 58px;
    }

    .mobile-nav-buttons i {
        margin-left: 15px;
    }
}

.responsive-logo {
    display: none;
}

.nav-menu .submenu-toggle {
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    text-align: center;
    line-height: 45px;
    max-height: 45px;
    cursor: pointer;
}

.nav-menu .submenu-toggle::after {
    content: "\f107";
}

/*---------------------*/
/*nav right*/


.nav-right i {
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
}

.nav-right a {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
}

.nav-right a img {
    margin-right: 10px;
}

@media screen and (min-width: 1024px) {
    #main-nav {
        -webkit-transition: background-color 0.2s, padding 0.2s;
        transition: background-color 0.2s, padding 0.2s;
    }

    #main-nav.sticky {
        background-color: #fff;
        padding: 5px 0;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    }

    .nav-inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media screen and (min-width: 1024px) {

    #main-nav .nav-inner,
    .nav-menu,
    .nav-menu ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

/* ----------------------------------------------- */
/* 04.FAQ AREA CSS */
/* ----------------------------------------------- */
/*breadcrumb*/
nav.breadcrumb {
    background: transparent;
    padding: 0;
    padding-top: 20px;
}

.breadcrumb ul li a {
    color: #808080;
    font-size: 14px;
    line-height: 21px;
    position: relative;
    padding-right: 15px;
}

.breadcrumb ul li a:hover {
    color: #000;
}

.breadcrumb ul li .bread-drop::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: initial;
    right: 5px;
    top: 50%;
    -webkit-transform: rotate(-45deg) translateY(-50%);
    transform: rotate(-47deg) translateY(-50%);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

/*FAQ CONTENT H2*/
.faq-content h2 {
    line-height: 58px;
    color: #1A1A1A;
    font-weight: 600;
    padding-right: 34px;
}

/* accordion*/

.accordion-area {
    padding-right: 5px;
    padding-top: 60px;
}

.accordion_box {
    float: left;
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open-sans', Arial, sans-serif;
    margin: 0 0 13px 0;
    border-radius: 6px;
}
.accordion_box.active {
    background: #fff;
    border: 1px solid #84D187;
}

.acc_trigger {
    cursor: pointer;
    background: #f2f2f2;
    color: #fff;
    width: 100%;
    border-radius: 6px 6px 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1A1A1A;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
}

.acc_container {
    display: none;
}
.acc_container {
    padding: 16px 16px 16px 16px;
}
.acc_container p {
    font-size: 14px;
    color: #666666;
    margin: 0!important;
}

.accordion_box.active .acc_trigger {
    background: transparent!important;
}
.accordion_box.active .acc_trigger {
    border-bottom: 1px solid #84D187;
}

.accordion_box.active .acc_trigger {
    color: #2C742F;
}

.acc_trigger i {
    color: #000;
    font-size: 14px;
    /* width: 32px; */
    /* height: 32px; */
    background: #fff;
    display: inline-block;
    border-radius: 170px;
    text-align: center;
    line-height: 32px;
    padding: 0px 10px;
}

.accordion_box.active i {
    background: #f2f2f2;
}

.faq-thumb {
    height: 748px;
    z-index: -1;
}

/* ----------------------------------------------- */
/* 05. SUBSCRIBE CSS */
/* ----------------------------------------------- */
.subscribe-area {
    padding: 29px 0;
    z-index: 99999;
    position: relative;
}

.subscribe-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.subscribe-text h3 {
    color: #1A1A1A;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.subscribe-text p {
    display: block;
    width: 448px;
}

/*SUBSCRIBE FORM*/
.subscribe-form {
    margin-left: 90px;
}

.subscribe-form form {
    position: relative;
}

.subscribe-form input {
    width: 534px;
    height: 52px;
    background: #E6E6E6;
    border: none;
    padding: 0 30px;
    border-radius: 46px;
    font-size: 16px;
    color: #808080;
    line-height: 33px;
}

.subscribe-form input:focus {
    outline: none;
}

/*SOCIAL ICON*/
.social-icon a {
    color: #4D4D4D;
    font-size: 15px;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 42px;
    border-radius: 33px;
    background: transparent;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.social-icon a:hover {
    background: #3B5998;
    color: #fff;
}

/* ----------------------------------------------- */
/* 06. FOOTER CSS */
/* ----------------------------------------------- */

.footer-area {
    padding: 40px 0 36px 0;
}

.footer-widget-title h4 {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}

.footer-widget-title a img {
    height: 38px;
    width: 122px;
    margin-bottom: 1px;
}

.footer-widget-content p {
    color: #808080;
    margin-bottom: 20px;
    padding-right: 82px;
}

.footer-widget-content > a {
    padding-bottom: 5px;
    border-bottom: 2px solid #20B526;
    color: #fff;
    font-weight: 500;
}

.footer-widget-content > a:hover {
    color: #808080;
}

.footer-widget-content ul li {
    display: block;
}

.footer-widget-content ul li a {
    color: #999999;
    margin-bottom: 9px;
    display: block;
    font-size: 14px;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.footer-widget-content ul li a:hover {
    color: #fff;
}
.footer-widget-title {
    margin-bottom: 10px;
}
/*copyright*/
.copyright {
    border-top: 2px solid #333333;
    padding: 8px 0 10px 0;
}

.copyright-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.copyright p {
    font-size: 14px;
    color: #808080;
    line-height: 21px;
    margin: 0;
}

.copyright a img {
    margin-left: 7px;
}
